.ant-form-item-label{
  text-align: start;
}
.ant-form-item-with-help {
  margin-bottom: 1rem;
}

.ant-form-item-explain-error{
  font-size: 0.7rem;
}

.description-label .ant-form-item-label label{
    margin-left: 10px;

#department-select-label {
  left: -13px;
}

#department-error {
  color: red;
  margin-left: 0;
}